.offcanvas {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: var(--offcanvasBg);
  border-left: 1px solid var(--offcanvasBorder);
  padding: 1rem;
  z-index: 1;
}