.piano-component {
    display: flex;
    position: relative;
    background-color: var(--bgSharpKey);
    padding: 4px 6px;
    padding-top: 0;
    border-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    transform: 
        perspective(900px) 
        rotateX(10deg)
    ;
    box-shadow: -20px 0px 40px 0 rgb(87, 87, 87);
    margin-top: 5rem;

    &::before {
        content: "";
        width: calc(100% + 10px);
        height: 40px;
        background-color: var(--bgSharpKey);
        border-radius: 4px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -100%);
        z-index: 2;
    }

    &::after {
        content: "";
        width: calc(100% - 2px);
        height: 10px;
        background-color: black;
        border-radius: 0px;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
        position: absolute;
        bottom: 2px;
        left: 50%;
        transform: translate(-50%, 100%);
    }

    .screen-top {
        position: absolute;
        top: -140px;
        font-size: 38px;
        margin-bottom: 30px;
        color: #333333;
    }

    .controls {
        position: absolute;
        bottom: -80px;
        left: 50%;
        transform: translateX(-50%);

        button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 8px;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #45a049;
            }

            &:disabled {
                background-color: #cccccc;
                cursor: not-allowed;
            }
        }
    }

    .screen-bottom {
        position: absolute;
        bottom: -140px;
        font-size: 22px;
        color: #333333;
    }
    .key {
        position: relative;

        &.sharp {
            .note {
                background-color: var(--bgSharpKey);
                height: 160px;
                width: 30px;
                position: absolute;
                z-index: 1;
                transform: translateX(-50%);
                color: white;
                box-shadow: -4px -2px 4px 0 rgb(87, 87, 87);

                &.active {
                    transform: 
                        translateX(-50%)
                        rotateX(-10deg)
                        skewX(.05deg);
                    box-shadow: -3px -3px 4px 0px rgb(87, 87, 87);

                    &::after {
                        height: 2px;
                    }
                }
            }
        }

        &:not(.sharp) {
            margin-right: 1px;
        }
    }

    .note {
        background-color: var(--bgKey);
        height: 200px;
        width: 40px;
        border: 1px solid rgb(54, 54, 54);
        display: flex;
        justify-content: center;
        align-items: end;
        padding: 6px;
        border-radius: 0;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        transition: .1s;

        &.active {
            transform: 
                rotateX(-10deg)
                skewX(.05deg);
            transform-origin: top;
            box-shadow: inset -2px -2px 4px 0px rgb(87, 87, 87);
            outline: none;
            filter: sepia(0.5);
        }
    }
}