.saved-chords {
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid var(--borderColor);
  border-radius: 5px;

  h2 {
    margin-top: 0;
  }

  div {
    margin-bottom: 1rem;

    button {
      margin-right: 1rem;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 0.5rem;
      border-bottom: 1px solid var(--lightBorderColor);

      &:last-child {
        border-bottom: none;
      }
    }
  }
}