:root {
    --bgBody: #e0dfe2;

    --bgPrimary: #cccccc;
    --bgSecondary: #cccccc;

    --bgSharpKey: #333333;
    --bgKey: #e6e6e6;

    --borderColor: #ccc;
    --lightBorderColor: #eee;
    --offcanvasBg: #f8f9fa;
    --offcanvasBorder: #dee2e6;
}