@import "./shared/base";
@import "./shared/variables";
@import "./shared/buttons";

@import "./components/piano";
@import "./components/saved-chords";
@import "./components/offcanvas";
@import "./components/start-button";